body {
  background-color: pink;
  text-align: center;
}
.card {
  margin: 20px;
  padding: 10px;
  background-color: white;
  border: solid 2px;
  border-color: black;
  width: 50px;
  height: 80px;
  text-align: center;
  border-radius: 8px;
  display: inline-block;
}

.suit {
  margin: 5px;
  font-size: 20px;
}

.name {
  margin: 5px;
  font-size: 24px;
  font-weight: bold;
  font-family: sans-serif;
}

.red {
  color: red;
}
.black {
  color: black;
}
#main-container {
  display: flex;
  justify-content: center;
}
.card-container1 {
  margin: auto;
  order: 1;
  background: linear-gradient(45deg, gray, darkgray);
  border-radius: 8px;
  border-color: dimgray;
  border-style: solid;
  text-align: center;
  width: 30%;
  height: 300px;
}

.card-container2 {
  margin: auto;
  order: 3;
  background: linear-gradient(45deg, gray, darkgray);
  border-radius: 8px;
  border-color: dimgray;
  border-style: solid;
  text-align: center;
  width: 30%;
  height: 300px;
}

.button {
  margin-left: 10px;
}
.output {
  width: 20%;
  order: 2;
  text-align: center;
  margin: 8px;
}
.high-low {
  border: solid 3px;
  border-color: gold;
}
